.tasklist ul {
  background: #ffffffa9;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: rgba(203, 196, 196, 0.621) 0px 1px 3px 0px,
    rgba(88, 94, 100, 0.546) 0px 0px 0px 1px;
  border-radius: 5px;
}

.tasklist .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
  margin-bottom: 30px;
}

.tasklist h1 {
  font-size: 2rem;
  text-align: center;
  text-shadow: #0000009b 1px 2px 4px;
}

.tasklist button.trigger {
  border: 0px;
  border-radius: 5px;
  background-color: var(--theme-button);
  color: #ffffff;
  padding: 7px 10px;
  cursor: pointer;
}
