@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

:root {
  --theme-border: #d7d7d7;
  --theme-button: #0f3440;
}

a {
  list-style: none;
  text-decoration: none;
  color: #000000;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

button {
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: darkslateblue;
  color: #ffff;
}

body {
  background: rgb(34, 34, 34);
  color: white;
}

main {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}
